url: 'https://awg.chen.ist'
baseurl: ''
permalink: pretty
title: 'AWG Active Consulting'
description: 'Expert consulting services for accounting, taxation, HR and business administration in Romania'

logo:
  mobile: "assets/svg/logo-white.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "assets/svg/logo-white.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home: 
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
    permalink: /servicii/:name/

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

# Disable GitHub Pages default theme
theme: null

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
