.header {
  color: $white;
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  position: relative;
  z-index: 10;
  border-bottom: 3px solid $primary;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
