.sub-footer {
  background: $sub-footer-background-color;
  color: $sub-footer-text-color;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba($primary, 0.2);

  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .copyright {
    margin-top: 10px;
    font-size: 14px;
    color: rgba($white, 0.6);

    a {
      font-weight: bold;
      color: $primary;
      text-decoration: none;

      &:hover {
        color: lighten($primary, 10%);
      }
    }
  }

  .social {
    a:first-of-type {
      margin-left: -10px;
    }
  }
}
