.title {
  color: $primary;
  font-size: 42px;
  line-height: 1.3;
  font-family: $font-family-heading;
  font-weight: 600;
  margin-bottom: 25px;
  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}
