p {
  line-height: 1.7;
  color: $steel;
  font-family: $font-family-base;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}
h1 {
  font-size: 32px;
  font-family: $font-family-heading;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 600;
  color: $primary;
  @include media-breakpoint-up(md) {
    font-size: 36px;
    line-height: 1.3;
  }
}
h2 {
  font-size: 26px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 600;
  color: $primary;
  @include media-breakpoint-up(md) {
    font-size: 28px;
    line-height: 1.4;
  }
}
h3 {
  font-size: 20px;
  line-height: 1.5;
  font-family: $font-family-heading;
  font-weight: 600;
  color: $primary;
  margin-bottom: 15px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: 1.5;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
